body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-weight: bold;
}
h1 {
    font-style: italic;
}
.th {
    font-variant-caps: all-petite-caps;
}
th {
    background-color: #0066ff;
}
td {
    background-color: #00aeff;
}
a {
    color: #00f;
    text-decoration-line: underline;
}
a:visited {
    color: #005;
    text-decoration-line: underline;
}
a:hover {
    text-decoration-line: none;
}
ul {
    list-style: square;
}
.border {
    border-bottom: 1px solid red;
}
img {
    padding: 10px;
    border: 2px solid red;
}
